<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.DevGJMapper">
	
	<!-- sql片段 -->
	<!-- 商品查询条件 -->
	<sql id="query_dev_gj_where">
		<if test="DevGJCuston!=null">
			<if test="DevGJCuston.id!=null and DevGJCuston.id!=''">
				and id like '%${DevGJCuston.id}%'
			</if>
		</if>
	</sql>
	    
	<!-- 查询商品信息 -->
	<select id="selectGJList" parameterType="cn.itcast.ssm.po.DevGJQueryVo" resultType="cn.itcast.ssm.po.DevGJCustom">
		select * from dev_gj
		<where>
			<include refid="query_dev_gj_where"/>
		</where>
	</select>
	

</mapper>
